@media (max-width: 426px) {
  .widthMobile {
    width: 200px;
  }

  .navMenu__crate--leftBorderFocus p {
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .tableLinks td:nth-child(1) {
    font-size: 0.7rem;
  }

  .tableLinks td:nth-child(2) {
    font-size: 0.7rem;
  }

  .mainContent__tellTale--key {
    font-size: 0.7rem;
  }

  .mainContent__tellTale--value {
    font-size: 0.7rem;
  }

  .mainContent__personalForm {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
  }

  .mainContent__personalForm--positioning {
    display: inline-block;

    margin-bottom: 7%;
  }

  .mainContent__personalForm--positioning label {
    display: block;
    margin-left: 20%;
  }

  .mainContent__personalForm--positioning input {
    display: block;
    margin-left: 20%;
  }
}

@media (min-width: 576px) {
  .btn-icon {
    font-size: 0.7rem;
  }

  .offset-2 {
    margin-left: 16.666667%;
  }

  .menuMobileSpaceV {
    margin-top: 0;
  }

  .mobile-show {
    display: none;
  }

  .onlyMobile {
    display: none;
  }

  .header--desktop-visible {
    display: flex;
  }

  .mobile-hide {
    display: block;
  }

  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.66%;
    max-width: 200px;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    min-width: 83.333333%;
    width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-icon {
    font-size: 0.9rem;
  }

  .navMenu__crate--remSpacing {
    word-spacing: 0.1rem;
  }
}

@media (min-width: 992px) {
  .btn-icon {
    font-size: 1rem;
  }

  .navMenu__crate--remSpacing {
    word-spacing: 1rem;
  }
}
