$font-default: "Lato", sans-serif;
$base-orange: #ff4500;
$base-gray: #808080;
$dark-gray: #333;
$darkNav-gray: #232323;
$darkDeep-gray: #111;
$hr-gray: #666b71;
$base-blue: #00f;
$base-white: #fff;
$base-black: #000;
$base-border: rgba($base-gray, 0.4);
$base-background: rgba($base-gray, 0.4);
