@import "normalize";
@import "layout";
@import "glyphter";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.navTop--dark {
  height: 6.67vh;
  display: flex;
  background-color: #232323;
}

.navTop--light {
  height: 6.67vh;
  display: flex;
  background-color: #fff;
}

.flex {
  display: flex;
}

.lleft {
  justify-content: flex-start;
}

.navTop--orderRight {
  justify-content: flex-end;
}
.header--sticky {
  position: sticky;
  top: 0;
}

.logo {
  max-width: 70%;
  height: auto;
  margin: 0 1rem;
}
.logo__text {
  font-family: $logo-font;
  color: #fff;
  background-color: #232323;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 0 2rem 0;
}
.nav-left {
  background-color: #232323;
  color: #808080;
  height: 100vh;
  position: fixed;
}

.nav__item {
  font-size: 1rem;
  padding-left: 1rem;
}
.logo__button {
  background-color: #232323;
  border: none;
}

.nav__item_height {
  margin-top: 1rem;
  height: 4vh;
}
.wrapped {
  flex-wrap: wrap;
  flex-direction: column;
}
.fa-bars {
  color: grey;
  background-color: #232323;
}

.nav {
  background-color: #fff;
  text-align: center;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.nav__icon {
  color: #808080;
  font-family: $font-default;
  margin: 0px;
  font-size: 1.5rem;
  padding: 0 1rem 0;
  text-align: center;
}

.nav__profile {
  color: #4a4af5;
  // display: inline-flex;
  font-family: $font-default;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 3rem;
  align-items: center;
}

.nav__icon_smaller {
  font-size: 15px;
  padding-left: 2rem;
}

.fullWidth {
  width: 98%;
  border-top: 0.1rem solid #666b71;
  margin-top: 2rem;
}

.nav__profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 1rem;
}
.nav__h1 {
  //display: block;
  font-size: 1rem;
  color: #808080;
  margin: 0;
}
.nav__p {
  //display: block;
  color: #4a4af5;
  margin: 0;
}

%is-red {
  color: red;
}

.icon {
  text-transform: uppercase;
}

.btn-icon {
  display: inline-block;

  font-weight: 400;
  color: #808080;
  margin: auto;
  min-width: 50px;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &__ico {
    &--bell {
      @extend .icon-notification;
    }

    &--quit {
      @extend .icon-quit;
    }

    &--wallet {
      @extend .icon-wallet;
    }

    &--profile {
      @extend .icon-profile;
    }

    &--arrow-down {
      @extend .icon-arrow-down;
    }
  }

  &--noBorder {
    border: none;
  }

  &--bigger {
    transform: scale(1.5);
    margin: auto 1.5rem;
  }

  &--smaller {
    transform: scale(0.7);
    margin: auto 1rem;
  }
  &__notifier {
    background-image: url("/Week9101112/icons/sign--R.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
[class*="btn-icon__ico--"]:before {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
