@import "variables";
@import "normalize";
@import "layout";
@import "glyphter";
@import "mixins";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  background-color: $darkDeep-gray;
  overflow-x: hidden;
}

.navMenu {
  &--dark {
    height: 6.67vh;
    display: flex;
    background-color: $darkNav-gray;
  }

  &--light {
    height: 6.67vh;
    display: flex;
    background-color: #fff;
  }
}

.navMenu--orderRight {
  display: flex;
  justify-content: flex-end;
}
.header--sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  max-width: 70%;
  height: auto;
  margin: 0 1rem;
}

.navLeft {
  background-color: $darkNav-gray;
  color: $base-gray;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 0;
}

.nav__item {
  font-size: 1rem;
  padding-left: 1rem;
}
.logo__button {
  background-color: $darkNav-gray;
  border: none;
}

.nav__item_height {
  margin-top: 1rem;
  height: 4vh;
}
.navLeft--column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.fa-bars {
  color: $base-gray;
  background-color: $darkNav-gray;
}

.nav {
  background-color: #fff;
  text-align: center;
  border-left: 1px solid $base-gray;
  border-bottom: 1px solid $base-gray;
}

.nav__icon {
  color: $base-gray;
  font-family: $font-default;
  margin: 0px;
  font-size: 1.5rem;
  padding: 0 1rem 0;
  text-align: center;
}

.nav__profile {
  color: #4a4af5;
  font-family: $font-default;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 3rem;
  align-items: center;
}

.nav__icon_smaller {
  font-size: 15px;
  padding-left: 2rem;
}

.fullWidth {
  width: 98%;
  border-top: 0.1rem solid #666b71;
  margin-top: 0.5rem;
}

.navMenu__crate img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 1rem;
  vertical-align: middle;
}

%is-red {
  color: red;
}

.fullWidthForm {
  width: 100%;
}
.icon {
  text-transform: uppercase;
}

.navMenu__crate--leftBorderFocus:hover .btn-icon {
  color: #fff;
}

.navMenu__crate--verticalAllignP:hover .btn-icon {
  color: #00f;
}

button[disabled]:hover .fa-bars {
  color: $darkNav-gray;
}
.btn-icon {
  display: inline-block;
  font-weight: 400;
  color: $base-gray;
  margin: auto;
  min-width: 50px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &--colorOrange {
    background-color: $base-orange;
    border-radius: 5px;
  }

  &--txtWhite {
    color: #fff;
  }

  &--txtOrange {
    color: $base-orange;
  }

  &--colorGrey {
    background-color: $base-background;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
  }

  &__ico {
    &--bell {
      @extend .icon-notification;
    }

    &--quit {
      @extend .icon-quit;
    }

    &--wallet {
      @extend .icon-wallet;
    }

    &--profile {
      @extend .icon-profile;
    }

    &--arrow-down {
      @extend .icon-arrow-down;
    }

    &--general {
      @extend .icon-general;
    }

    &--details {
      @extend .icon-details;
    }

    &--links {
      @extend .icon-links;
    }

    &--banners {
      @extend .icon-banners;
    }

    &--personaldata {
      @extend .icon-personaldata;
    }

    &--payout {
      @extend .icon-payout;
    }

    &--postback {
      @extend .icon-postback;
    }
    &--calendar {
      @extend .icon-calendar;
    }

    &--refresh {
      @extend .icon-refresh;
    }
    &--links {
      @extend .icon-links;
    }
    &--trash {
      @extend .icon-trash;
    }
  }

  &--noBorder {
    border: none;
  }

  &--positionDate {
    position: absolute;
    right: 0;
    transform: translate(-1px, -30px);
  }

  &--bigger {
    transform: scale(1.5);
    margin: auto 1.5rem;
  }

  &--smaller {
    transform: scale(0.7);
    margin: auto 0.1rem;
  }
  &__notifier {
    background-image: url("/Week9101112/icons/sign--R.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__notifier2 {
    position: absolute;
    font-size: 1px;
  }
}

.mainContent__formCalendar {
  position: relative;
}

.mainContent__formCalendar:hover .btn-icon__ico--calendar {
  display: none;
}

[class*="btn-icon__ico--"]:before {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContent__title {
  border-bottom: 1px solid $base-border;
  text-transform: uppercase;
  padding-left: 1rem;
  color: $base-gray;
}

.mainContent__title h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mainContent__personalForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: $base-gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $base-border;
}

.mainContent__personalForm--input {
}
.mainContent__personalForm--input::placeholder {
  color: #000;
  opacity: 1;
  font-size: 0.8rem;
  padding-left: 0.4rem;
}

.mainContent__personalForm--positioning {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.mainContent__personalForm--positioning label {
  margin-left: 30%;
}

.mainContent__personalForm--positioning input {
  position: absolute;
  margin-left: 50%;
}

.mainContent__tellTale {
  border-bottom: 1px solid $base-border;
  padding: 1rem 0.5rem;
  text-align: center;
}
.mainContent__tellTaleLeft {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  margin-left: 50%;
  position: relative;
  border-bottom: 1px solid $base-border;
  padding-inline-start: 0;
}

.mainContent__tellTaleRight {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  margin-right: 50%;
  position: relative;
  border-bottom: 1px solid $base-border;
  padding-inline-start: 0;
}

.mainContent__tellTale--key {
  color: $base-gray;
  font-weight: bold;
  text-align: left;
}

.mainContent__tellTale--value {
  color: #000;
}

.mainContent__tellTale--position {
  position: absolute;
  right: 0;
}

form {
  display: inline-block;
  margin-left: -6px;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  font-size: 1.2rem;
  outline: 1px solid $base-border;
}

.tableFinance__infoSelector {
  height: auto;
  margin: 4vh auto;
  display: block;
  text-align: center;
}

.fakeDraw img {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.tableFinance__infoSelector > .btn-icon:hover {
  @include hoverMorph1;
}

.mainContent__tellTale > .btn-icon:hover {
  @include hoverMorph1;
}

.tableLinks {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  & td {
    border-top: 1px solid $base-border;
    position: relative;
    height: 2.5rem;
    line-height: 2rem;
    margin: auto;
    display: inline-block;
  }

  & td:nth-child(1) {
    color: $base-gray;
    text-align: left;
    width: 35%;
  }

  & td:nth-child(2) {
    color: #0000ff;
    text-align: left;
    width: 65%;
  }

  & tr:hover {
    background: $base-background;
    cursor: pointer;
  }

  & tr:hover .tableLinks--hideIcons {
    visibility: visible;
  }

  &--hideIcons {
    visibility: hidden;
    position: absolute;
    right: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  justify-content: center;
  align-items: center;

  overflow: auto;
  padding: 30px;

  display: none;
}

.overlay.show {
  display: flex;
}

.modal {
  max-width: 75vw;
  max-height: 90vh;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 10px;
  display: none;
  overflow: hidden;
}

.modal canvas {
  display: flex !important;
  width: 75vw !important;
  height: 75vh !important;
}
.modal .btn-icon:hover {
  color: #000;
  background-color: $base-orange;
}

@media (max-width: 426px) {
  .widthMobile {
    width: 200px;
  }

  .navMenu__crate--leftBorderFocus p {
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .tableLinks td:nth-child(1) {
    font-size: 0.7rem;
  }

  .tableLinks td:nth-child(2) {
    font-size: 0.7rem;
  }

  .mainContent__tellTale--key {
    font-size: 0.7rem;
  }

  .mainContent__tellTale--value {
    font-size: 0.7rem;
  }

  .mainContent__personalForm {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
  }

  .mainContent__personalForm--positioning {
    display: inline-block;

    margin-bottom: 7%;
  }

  .mainContent__personalForm--positioning label {
    display: block;
    margin-left: 20%;
  }

  .mainContent__personalForm--positioning input {
    display: block;
    margin-left: 20%;
  }
}

@media (min-width: 576px) {
  .btn-icon {
    font-size: 0.7rem;
  }

  .offset-2 {
    margin-left: 16.666667%;
  }

  .menuMobileSpaceV {
    margin-top: 0;
  }

  .mobile-show {
    display: none;
  }

  .onlyMobile {
    display: none;
  }

  .header--desktop-visible {
    display: flex;
  }

  .mobile-hide {
    display: block;
  }

  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.66%;
    max-width: 200px;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    min-width: 83.333333%;
    width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-icon {
    font-size: 0.9rem;
  }

  .navMenu__crate--remSpacing {
    word-spacing: 0.1rem;
  }
}

@media (min-width: 992px) {
  .btn-icon {
    font-size: 1rem;
  }

  .navMenu__crate--remSpacing {
    word-spacing: 1rem;
  }
}
